Assets/Scenes/Stone[[:space:]]Floor[[:space:]]Textures/Textures[[:space:]]4k/Substance_graph_basecolor.png filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/Stone[[:space:]]Floor[[:space:]]Textures/Textures[[:space:]]4k/Substance_graph_normal.png filter=lfs diff=lfs merge=lfs -text
